body {
  background-image: url(../images/pw_maze_white.png);
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.container {
  background: #fff;
  padding: 25px;
  border-radius: 7px;
}

hr {
  border-top: 1px solid #ddd;
}

nav {
  padding: 12px;
}

.navbar-default .navbar-nav > li > a {
  border-radius: 5px;
}

.panel-heading:hover {
  cursor: pointer;
}

.panel-title h3 {
  margin-top: 10px;
}

#logo {
  max-height: 96px;
}

.chart {
  height: 600px;
  padding: 40px 0;
}