<nav role="navigation" class="navbar navbar-default chartSelect">

  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" data-target="#dataCollapse" data-toggle="collapse" class="navbar-toggle">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <span class="navbar-brand">Options</span>
  </div>


  <div class="clearfix"></div>

  <!-- Collection of nav links and other content for toggling -->
  <div id="dataCollapse" class="collapse navbar-collapse">
    <form>

      <div class="form-group nav-select col-sm-6">
        <label class="control-label">Factor</label>
        <select disabled class="form-control dropDownA">
          {{dropDownIndicators}}
        </select>
      </div>

      <!-- <div class="form-group nav-select col-sm-2">
        <label class="control-label">Year</label>
        <select disabled class="form-control dropDownB">
          {{!-- Filled from database served header? --}}
        </select>
      </div>

      <div class="form-group nav-select col-sm-3">
        <label class="control-label">Map Detail</label>
        <select disabled class="form-control dropDownC">
          {{!-- Filled from database served header? --}}
        </select>
      </div> -->

      <div class="form-group nav-select col-xs-3">
        <label class="control-label">Errorbars</label>
        <br>
        <input class="bootstrapSwitch" type="checkbox" name="errorbar">
      </div>

      <div class="form-group nav-select col-xs-3">
        <label class="control-label">Large&nbsp;Charts</label>
        <br>
        <input class="bootstrapSwitch" type="checkbox" name="largecharts">
      </div>

    </form>
  </div>


</nav>
