<nav role="navigation" class="navbar navbar-default chartSelect">

  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" data-target="#dataCollapse" data-toggle="collapse" class="navbar-toggle">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <span class="navbar-brand">Options</span>
  </div>


  <div class="clearfix"></div>

  <!-- Collection of nav links and other content for toggling -->
  <div id="dataCollapse" class="collapse navbar-collapse in">
    <form>

      <div id="tagSelect" class="form-group nav-select col-sm-6 col-xs-12">
        <label class="control-label">Tag</label>
        <select class="form-control dropDownTags">
          {{dropDownTags}}
        </select>
      </div>

      <div id="taggedSelect" class="form-group nav-select col-sm-6 col-xs-12">
        <label class="control-label">Indicator</label>
        <select class="form-control dropDownTagsIndicators">
          {{dropDownTagsIndicators}}
        </select>
      </div>

      <div class="form-group nav-select col-sm-4 col-xs-6">
        <label id="errorbarToggle" class="control-label">Confidence Intervals</label>
        <br>
        <input class="bootstrapSwitch" type="checkbox" name="errorbar">
      </div>

      <div class="form-group nav-select col-sm-4 col-xs-6">
        <label id="largeChartToggle" class="control-label">Large&nbsp;Charts</label>
        <br>
        <input class="bootstrapSwitch" type="checkbox" name="largecharts">
      </div>

    </form>
  </div>


</nav>
