<div class="clearfix"></div>

<div class="footer">
  <span class="pull-left">UW Madison SHOW and Andrew McOlash, 2014-2015</span>
  {{#unless hide_privacy}}
    <span class="pull-right hidden-print">
      <a class="simpleLink" href="#privacy">Privacy Policy</a>
    </span>
  {{/unless}}
</div>
