<div class="row options padding-bottom">
  <form>

    <div class="col-xs-12">
      <h3>Options</h3>
      <hr>
    </div>

    <div id="tagSelect" class="form-group nav-select col-sm-6 col-xs-12">
      <label class="control-label">Tag</label>
      <select class="form-control dropDownTags">
        {{dropDownTags 'All'}}
      </select>
    </div>

    <div id="taggedSelect" class="form-group nav-select col-sm-6 col-xs-12">
      <label class="control-label">Indicator</label>
      <select class="form-control dropDownTagsIndicators">
        {{dropDownTagsIndicators}}
      </select>
    </div>

    <div class="form-group nav-select col-sm-4 col-xs-6">
      <label id="errorbarToggle" class="control-label">Confidence Intervals</label>
      <br>
      <input class="bootstrapSwitch" type="checkbox" name="errorbar">
    </div>

    <div class="form-group nav-select col-sm-4 col-xs-6">
      <label id="largeChartToggle" class="control-label">Large&nbsp;Charts</label>
      <br>
      <input class="bootstrapSwitch" type="checkbox" name="largecharts">
    </div>

  </form>
</div>
