<div class="col-xs-12">

  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

    <div class="panel panel-default">
      <div data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true"
      aria-controls="collapseOne"class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title pull-left">Data Table</h4>
        <span id="minusIcon" class="glyphicon glyphicon-minus pull-right"></span>
        <span id="plusIcon" class="glyphicon glyphicon-plus pull-right"></span>
        <div class="clearfix"></div>
      </div>
      <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
          <table id="myTable" class="table table-striped table-responsive">
            <thead>
              <tr>
                <th>Index</th>
                <th>County Name</th>
                <th>Region</th>
                <th>Data</th>
                <th>HighCharts Id</th>
              </tr>
            </thead>

            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>

</div>