<div class="container">

  {{> header active_charts=true}}

  <h1>Data Charts</h1>
  <hr/>

  {{> dropdown}}

  <h2 id="val" class="hidden-print">Selected Value: No region selected</h2>

  <div class="row">
    {{> halfChart num='0' map=true}}
    {{> halfChart num='1' column=true}}
  </div>

  {{> footer}}

</div>
