<div class="container">

  {{> header active_charts=true}}

  <h1>Data Charts</h1>
  <hr/>

  {{> dropdown}}

  <!-- <h2 id="val" class="hidden-print">Selected Value: No region selected</h2> -->

  <div id="sampleAlert" class="alert alert-danger" role="alert">
    <b>Warning: </b>This county has a small sample size, take caution when making
    any assumptions based on this data. It is prone to have a large error.
  </div>

  <div id="newTour" class="alert aler-dismissable alert-success" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <p>
      It looks like you are new to the Wisc-Portal website. If you
      have never used this portal before, you should take our quick tour of how to
      use this tool!<br><br>
      <button id="startTour" class="btn btn-success">Start Tour</button>
    </p>
  </div>

  <div class="row">
    {{> halfChart num='0' map=true}}
    {{> halfChart num='1' column=true}}
  </div>

  {{> footer}}

</div>
