<div class="container">

  {{> header active_charts = true}}

  <h1 class="hidden-print pull-left">Download Chart Data</h1>
  <button class="hidden-print btn btn-default pull-right startTour">Start Tour</button>
  <div class="clearfix"></div>

  <hr class="hidden-print"/>

  <p class="hidden-print">
    The data we use for the charts is availible to the public. SHOW collects over
    3,000 data points on every individual in our sample, so there are many more
    variables available than we provide in the charts. If you would like a more 
    specific set of data, you can work with our group to tailor our data to your 
    needs by <a href="#contact">contacting us</a>.
  </p>

  <div id="newTour" class="alert alert-dismissable alert-success hidden-print collapse" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <p>
      It looks like you are new to the Wisc-Portal website. If you
      have never used the data download section of this portal before, you should
      take our quick tour of how to use this part of the tool!<br><br>
      <button class="btn btn-success startTour">Start Tour</button>
    </p>
  </div>

  <h3>Data Download</h3>

  <div class="row hidden-print" id="topOptions">
    <div class="form-group nav-select col-xs-4 col-sm-3" id="county">
      <label id="toggleCounty" class="control-label">County Data</label>
      <br>
      <input class="bootstrapSwitch" type="checkbox" name="county">
    </div>
    <div class="form-group nav-select col-xs-4 col-sm-3">
      <label id="toggleRegion" class="control-label">Region Data</label>
      <br>
      <input class="bootstrapSwitch" type="checkbox" name="region">
    </div>
    <div class="form-group nav-select col-xs-4 col-sm-3">
      <label id="toggleState" class="control-label">State Data</label>
      <br>
      <input class="bootstrapSwitch" type="checkbox" name="state">
    </div>
    <div class="form-group nav-select col-xs-4 col-sm-3">
      <label id="toggleConfidence" class="control-label">Confidence Data</label>
      <br>
      <input class="bootstrapSwitch" type="checkbox" name="errors">
    </div>
    <!-- <div class="form-group nav-select col-xs-4 col-sm-3">
      <label class="control-label">Country&nbsp;Data</label>
      <br>
      <input class="bootstrapSwitch" type="checkbox" name="country">
    </div> -->
  </div>

  <div class="row hidden-print" id="bottomOptions">
    <div class="form-group nav-select col-xs-6" id="county1">
      <label id="selectCounty" class="control-label">County</label>
      <select disabled class="form-control dropDownCounty">
        {{dropDownCounty}}
      </select>
    </div>
    <div class="form-group nav-select col-xs-6">
      <label id="selectIndicators" class="control-label">Indicator</label>
      <select class="form-control dropDownIndicators">
        {{dropDownIndicators}}
      </select>
    </div>
  </div>

  <hr>

  <div class="panel-group">

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 id="tableTitle" class="panel-title">Data Table</h3>
    </div>
    <div class="panel-body">
      <table id="myTable" class="table table-striped table-responsive">

      </table>
    </div>
  </div>

</div>

  <div class="row hidden-print">
    <div class="col-xs-12">
      <!-- <a id="download" onClick="downloadData()" class="btn btn-primary btn-lg" role="button">Download</a> -->
      <a id="downloadCSV" download="data.csv" href="#" onclick="return ExcellentExport.csv(this, 'myTable');"
        class="btn btn-primary btn-lg" role="button">Download as CSV</a>
      <a id="downloadExcel" download="data.xls" href="#" onclick="return ExcellentExport.excel(this, 'myTable');"
        class="btn btn-success btn-lg marginLeft" role="button">Download for Excel</a>
    </div>
  </div>

  {{> footer}}

</div>
