<div class="container">

  {{> header active_charts=true}}

  <h1 class="pull-left">Trends and Data foobarbaz</h1>
  <button class="btn btn-default pull-right startTour hidden-print">Start Tour</button>
  <div class="clearfix"></div>
  <hr/>

  <div id="newTour" class="alert alert-dismissable alert-success hidden-print collapse" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <p>
      It looks like you are new to the Wisc-Portal website. If you
      have never used the charts section of this portal before, you should take
      our quick tour of how to use this part of the tool!<br><br>
      <button class="btn btn-success startTour">Start Tour</button>
    </p>
  </div>

  {{> options}}

  <!-- <h2 id="val" class="hidden-print">Selected Value: No region selected</h2> -->

  <div id="sampleAlert" class="alert alert-danger hidden-print" role="alert">
    <b>Warning: </b>This county has a small sample size, take caution when making
    any assumptions based on this data. It is prone to have a large error.
  </div>

  <div class="row">
    {{> halfChart num='0' map=true}}
    {{> halfChart num='1' column=true}}
  </div>

  <div class="row">
    <p id="description" class="col-sm-9 col-xs-12"></p>
    <div class="col-sm-3 col-xs-12 hidden-print">
      <button id="dataExport" class="btn btn-lg btn-primary pull-right">Export this data</button>
    </div>
  </div>

  <div class="clearfix"></div>

  {{> footer}}

</div>
