<div class="container">

  {{> header active_contact=true}}

  <h1>Contact Us</h1>

  <hr/>

  <address>
    <strong>Survey of the Health of Wisconsin</strong><br>
    Medical Sciences Center, Room 1083<br>
    1300 University Avenue<br>
    Madison, WI 53706<br>
    Map and directions
  </address>

  <address>
    <strong>Phone: (608) 890-3840</strong><br>
    Toll-free: (888) 433-7469<br>
    Fax: (608) 890-3844<br>
  </address>

  <address>
    <strong>Email: </strong><a href="mailto:info@show.wisc.edu">info@show.wisc.edu</a>
  </address>

  <p class="socialIcon">
    <a href="http://www.facebook.com/pages/UW-Survey-of-the-Health-of-Wisconsin/106097459501452">
      <img src="images/img-fb-icon-100.png"/>
      Like us on Facebook
    </a>
  </p>

  <p class="socialIcon">
    <a href="https://twitter.com/uwshow">
      <img src="images/img-twitter-icon-100.png"/>
      Follow us on Twitter
    </a>
  </p>

  {{> footer}}

</div>
