<div class="container">

  {{> header active_data=true}}

  <h1>Get Our Data</h1>
  <hr/>

  <p>The data that we have is availible to the public. Below we have packaged the sample data
    that is used on this site. If you would like a more specific set of data, you can work
    with our group to tailor our data to your needs using the self-guided
    <a href="#contact">data request tool</a> in our contact page.
  </p>

  <h3>Data Download</h3>

  <p>
    <a href="data/county.csv" class="btn btn-primary btn-lg" role="button">Download</a>
  </p>

  {{> footer}}

</div>
