<div class="container">

  {{> header active_home=true}}

  <h1>
    <span class="glyphicon glyphicon-remove-circle"></span>
    We're sorry, something went wrong.
    <br>
    Please refresh the page.
  </h1>

  {{> footer}}

</div>
