<div class="container">

  {{> header}}

  <div class="col-xs-1">
    <h1>
      <span class="glyphicon glyphicon-remove-circle"></span>
    </h1>
  </div>

  <div class="col-xs-11">
    <h1>We're sorry, something went wrong.
      <br>Please refresh the page.
    </h1>
  </div>

  {{> footer}}

</div>
