<div class="container">

  {{> header}}

  {{> dropdown}}

  <h2 id="val">Selected Value: No region selected</h2>

  <div class="row">
    {{> halfChart num='0' map=true}}
    {{> halfChart num='1' column=true}}
  </div>

  {{> footer}}

</div>
