<div class="container">

  {{> header active_home=true}}

  <h1>Welcome to the SHOW Data Dissemination!</h1>

  <p>
    The Survey of the Health of Wisconsin (SHOW) is the first statewide research
    survey of its kind to measure information on critical health conditions in
    Wisconsin. Findings from SHOW present a comprehensive picture of the health
    of Wisconsin residents, helping to identify needs and target resources where
    they are most needed.
  </p>
  <p>
    The Survey of the Health of Wisconsin is funded by the Wisconsin Partnership
    Program and is under the direction of principal investigator Dr. F. Javier
    Nieto and co-director Dr. Kristen Malecki and their team at the University of
    Wisconsin School of Medicine and Public Health.
  </p>

  {{> footer}}

</div>
