<div class="container">

  {{> header}}

  <hr>

  <h1>
    <span clas="pull-left">Hello, world - from Highcharts / Highmaps</span>
    <button id="randomData" class="btn btn-default pull-right">Randomize the Data!</button>
  </h1>

  <h3 class="padding-bottom">
    Number of Charts:
    <div class="btn-group" data-toggle="buttons">
      <label id="on" class="btn btn-default">
        <input type="radio" name="numcharts" autocomplete="off" value="1">1 Chart
      </label>
      <label id="off" class="btn btn-default active">
        <input type="radio" name="numcharts" autocomplete="off" value="2" checked>2 Charts
      </label>
    </div>
  </h3>

  <div class="row">
    {{> halfChart num='1' map=true}}
    {{> halfChart num='2' column=true}}
  </div>

  <div class="btn-group" data-toggle="buttons">
    <label id="on" class="btn btn-default">
      <input type="radio" name="errorbar" autocomplete="off" value="true">Show Errorbars
    </label>
    <label id="off" class="btn btn-default active">
      <input type="radio" name="errorbar" autocomplete="off" value="false" checked>Hide Errorbars
    </label>
  </div>

  <div class="row">
    {{> linechart}}
  </div>

  <hr>

  <div class="row">
    {{> table}}
  </div>

  {{> footer}}

</div>