<div class="container">

  {{> header}}

  <h1>Privacy Policy</h1>
  <hr/>
  <p>
    We are committed to privacy and support current industry initiatives to preserve
    individual privacy rights on the Internet. Protecting your privacy on-line
    is an evolving area and this website will constantly evolve to meet these demands.

    <h2>Cookies</h2>
    Some of our web pages utilise "cookies". A "cookie" is a small text file
    that may be used, for example, to collect information about web site activity.
    Some cookies and other technologies may serve to recall Personal Information
    previously indicated by a web user. Most browsers allow you to control cookies,
    including whether or not to accept them and how to remove them.

    Some cookies are necessary for the operation of our website, if you choose to
    block them some aspects of the site may not work for you. Non necessary cookies
    are only set when you have given your explicit consent to their use. Such
    cookies include those set by our statistics package Google Analytics.
  </p>

  {{> footer hide_privacy=true}}

</div>
